@font-face {
  font-family: 'Pretendard';
  src: url('../public/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --font-pretendard: 'Pretendard', sans-serif;
}

body {
  background: var(--color-white);
}
